.app {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}

.app-glass-wrapper {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.54);
  overflow: scroll;
  grid-template-columns: 14rem auto 35rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  font-size: 2.1rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 1200px) {
  .app-glass-wrapper {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .app {
    width: 100vw;
  }
  .app-glass-wrapper {
    display: flex;
    flex-direction: column;
    width: 98vw;
    border-radius: 0;
    height: 100%;
  }
  .app-glass-wrapper::-webkit-scrollbar {
    display: none;
  }
}