.compact-card {
    display: flex;
    flex: 1;
    height: 15rem !important;
    max-width: 27rem;
    border-radius: 0.7rem;
    color: #fff;
    position: relative;
    cursor: pointer;
    padding: 2rem;
    gap: 1rem;
}

.compact-card:hover {
    box-shadow: none !important;
}

.radial-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.CircularProgressbar {
    width: 7rem !important;
    overflow: visible;
}

.CircularProgressbar-path {
    stroke: #fff !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px #fff)
}

.CircularProgressbar-trail {
    display: none;
}

.CircularProgressbar-text {
    fill: #fff !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.radial-bar>span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.card-info>span:nth-child(2) {
    font-size: 2.2rem;
    font-weight: bold;
}

.card-info>span:nth-child(3) {
    font-size: 1.2rem;
}

.expanded-card {
    position: absolute;
    width: 60%;
    height: 60vh;
    z-index: 9;
    left: 14%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.expanded-card-cancel {
    align-self: flex-end;
    cursor: pointer;
    color: #fff;
}

.expanded-card>span:nth-of-type(1) {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0px 0px 15px #fff;
}

.expanded-card>span:nth-of-type(2) {
    color: rgb(244, 243, 243);
    font-size: 1.5rem;
}

.expanded-chart {
    width: 60%;
}

@media screen and (max-width: 1200px) {
    .compact-card {
        max-width: 100%;
    }
    .expanded-card {
        top: 3rem;
        width: 80vw;
        height:auto;
    }
}