.update {
    margin: 0.5rem 0;
    background: #fff;
    border-radius: 0.7rem;
    padding: 1rem;
    display: flex;
}

.update>img {
    height: 5rem;
    width: auto;
}

.noti {
    margin: 0.5rem 0 0.5rem 0.5rem;
    line-height: 1.75rem;
   
}

.noti span:first-child {
    margin-right: 0.4rem;
    font-weight: 500;
}

.noti span:last-child {
    display: block;
    color: rgb(193, 190, 190);
}