.customer-reviews {
    margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
    .customer-reviews>h3:last-of-type {
        display: none;
    }

    .customer-reviews>div:last-of-type {
        display: none;
    }
}